.point-cursor {
  cursor: pointer;
}

.non-touch {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.underhover {
  width: fit-content;
  text-decoration: none;
  &:after {
    content: ' ';
    display: block;
    height: 2.3px;
    width: 0;
    background: transparent;
    transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
  }
  &:hover:after {
    width: 100%;
    background-image: linear-gradient(
      89.8deg,
      rgba(204, 156, 223, 1) 0.3%,
      rgba(155, 219, 245, 1) 20.4%,
      rgba(245, 183, 208, 1) 40.2%,
      rgba(250, 186, 98, 1) 62.9%,
      rgba(234, 238, 240, 1) 81.9%,
      rgba(250, 245, 171, 1) 99.2%
    );
  }
}
